<%-include('header')-%>
    <div class="container">
        <h1>
            <%= newtodo.todo %>
        </h1>


        <h6>

            <%= newtodo.todo %> todo created at
                <%= newtodo.date %>
        </h6>




        <a href="/todo" class="btn btn-danger">Back</a>
    </div>


    <%-include('footer')-%>